
<div class="wrapper row3">
        <div id="footer" class="clear">
                <p class="fl_left">Copyright © 2009 - 2013 - All Rights Reserved - <a href="/">Domain Name</a></p>
                <p class="fl_right"></p>
        </div>
</div>
</body>
</html>
