<form action="/myimages" method="POST" enctype="multipart/form-data">
        <table>
                <div id="drop">
                        Drop Here
                        <a>Browse</a>
                        <input type="file" name="upl" multiple />
                </div>

                <ul>
                        <!-- The file uploads will be shown here -->
                </ul>
                <tr><td>Title: </td> <td> <input type="text" name="title" id="title" style="width:400px"/></td></tr>
                <tr><td>Description:</td><td><textarea name="desc" id="desc" style="width:400px"></textarea></td></tr>
        </table>
</form>

